.tech {
    width: auto;
    padding: 2vh 3vh 1vh 1vh;
    margin-right: 2vh;

    .logo {
        width: 8vh;
        height: 6vh;
        padding: 0.8vh 1.5vh 0.8vh 1.5vh;
        background-color: rgb(233, 233, 233);
        border-radius: 6px;
    }
}